.koolui-pribel-plas17 {
  padding: 30px 0;
  }
  .koolui-pribel-plas17 .item {
    background-color: #fff;
    box-shadow: 0px 0px 26px rgb(0 71 255 / 9%);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    text-align: center;
    }
    .koolui-pribel-plas17 .item:before {
      width: 100%;
      height: 78px;
      border-radius: 0;
      content: "";
      position: absolute;
      right: 0;
      top: 0px;
      z-index: 0;
      }
    .koolui-pribel-plas17 .item--01:before {
      background-color: #FF5B5A; }
    .koolui-pribel-plas17 .item--01 .item__pricing p {
      color: #FF5B5A; }
    .koolui-pribel-plas17 .item--01 .btn.btn-primary {
      background-color: #FF5B5A;
      border-color: #FF5B5A; }
      .koolui-pribel-plas17 .item--01 .btn.btn-primary:hover {
        background-color: #ff4241;
        border-color: #ff4241; }
    .koolui-pribel-plas17 .item--02:before {
      background-color: #2196f3;
      }
    .koolui-pribel-plas17 .item--02 .item__pricing p {
      color: #2196f3;
      }
    .koolui-pribel-plas17 .item--02 .btn.btn-primary {
      background-color: #2196f3;
      border-color: #4dabf5;
      }
      .koolui-pribel-plas17 .item--02 .btn.btn-primary:hover {
        background-color: #2a3279;
        border-color: #0e4067;
        }
    .koolui-pribel-plas17 .item--03:before {
      background-color: #f44336;
      }
    .koolui-pribel-plas17 .item--03 .item__pricing p {
      color: #f44336;
      }
    .koolui-pribel-plas17 .item--03 .btn.btn-primary {
      background-color: #f44336;
      border-color: #f44336;
      }
      .koolui-pribel-plas17 .item--03 .btn.btn-primary:hover {
        background-color: #c31205;
        border-color: #d41e11;
        }
    .koolui-pribel-plas17 .item--04:before {
      background-color: #2a3279;
      }
    .koolui-pribel-plas17 .item--04 .item__pricing p {
      color: #2a3279;
      }
    .koolui-pribel-plas17 .item--04 .btn.btn-primary {
      background-color: #2a3279;
      border-color: #2a3279;
      }
      .koolui-pribel-plas17 .item--04 .btn.btn-primary:hover {
        background-color: #6587ff;
        border-color: #6587ff; }
    @media screen and (min-width: 992px) {
      .koolui-pribel-plas17 .item {
        margin-bottom: 0; } }
    .koolui-pribel-plas17 .item__media {
      display: none !important;
      width: 64px;
      height: 64px;
      margin: 20px auto 60px;
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      z-index: 3;
      }
      .koolui-pribel-plas17 .item__media:before, .koolui-pribel-plas17 .item__media:after {
        content: "";
        position: absolute; }
      .koolui-pribel-plas17 .item__media:after {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        background-color: #ffffff;
        -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.05);
                box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.05);
        z-index: 1; }
      .koolui-pribel-plas17 .item__media:before {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 0; }
      .koolui-pribel-plas17 .item__media img {
        position: relative;
        z-index: 3;
        width: auto;
        max-width: 100%;
        max-height: 100%; }
    .koolui-pribel-plas17 .item__heading h3 {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.25rem;
      margin: 0;
      margin-bottom: 60px;
      position: relative;
      letter-spacing: 1px;
      color: #ffffff;
      font-size: 2rem;
      }
    .koolui-pribel-plas17 .item__content ul {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      list-style: none; }
      .koolui-pribel-plas17 .item__content ul li {
        line-height: 30px;
        color: #999999;
        margin: 0;
        font-size: .875rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .koolui-pribel-plas17 .item__content ul li strong {
          color: #4A4A4A; }
    .koolui-pribel-plas17 .item__pricing {
      margin-bottom: 30px;
      }
      .koolui-pribel-plas17 .item__pricing p {
        margin: 0;
        padding: 0;
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 2.5rem;
        font-size: 3em;
        }
        .koolui-pribel-plas17 .item__pricing p span {
          font-weight: 300;
          font-size: 32px;
          }
    .koolui-pribel-plas17 .item .btn.btn-primary {
      color: #ffffff;
      height: 44px;
      line-height: 28px;
      border-radius: 6px;
      font-weight: 700;
      font-size: .875rem;
      }


      .logined .koolui-pribel-plas17 .item__heading h3 {
        font-size: 1.6rem;
      }
      .logined .koolui-pribel-plas17 .item__pricing p {
        font-size: 2em;
      }
      .logined .koolui-pribel-plas17 .item__pricing p span { 
        font-size: 32px;
      }

      .pack-responstable tr:first-child th {
          background: #414da1;
          font-size: 1.4em;
          padding: 0.6em 1em;
      }
      .pack-responstable {
        margin: 1em 0;
        width: 100%;
        overflow: hidden;
        background: #FFF;
        color: #024457;
        border-radius: 0px;
        border: 1px solid #167F92;
      }
      .pack-responstable tr {
        border: 1px solid #2196f3;
      }
      .pack-responstable tr:nth-child(odd) {
        background-color: #f4fbff;
      }
      .pack-responstable th {
        display: none;
        border: 1px solid #3ca1f1;
        background-color: #2196f3;
        color: #FFF;
        padding: 1em;
      }
      .pack-responstable th:first-child {
        display: table-cell;
        text-align: center;
      }
      .pack-responstable th:nth-child(2) {
        display: table-cell;
      }
      .pack-responstable th:nth-child(2) span {
        display: none;
      }
      .pack-responstable th:nth-child(2):after {
        content: attr(data-th);
      }
      @media (min-width: 480px) {
        .pack-responstable th:nth-child(2) span {
          display: block;
        }
        .pack-responstable th:nth-child(2):after {
          display: none;
        }
      }
      .pack-responstable td {
        display: block;
        word-wrap: break-word;
        max-width: 7em;
      }
      .pack-responstable td:first-child {
        display: table-cell;
        border-right: 0px solid #D9E4E6;
      }
      @media (min-width: 480px) {
        .pack-responstable td {
          border: 1px solid #e2f2ff;
        }
      }
      .pack-responstable th, .pack-responstable td {
        max-width: 50%;
        text-align: center;
        margin: .5em 1em;
        width: 50%;
      }
      @media (min-width: 480px) {
        .pack-responstable th, .pack-responstable td {
          display: table-cell;
          padding: 1em;
        }
      }
      