/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.no-touch body:not(.error404) .mkdf-page-footer.mkdf-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.mkdf-right-side-menu-opened .mkdf-page-footer.mkdf-footer-uncover {
  left: -270px;
}

.mkdf-page-footer .mkdf-text-logo-footer .mkdf-text-logo-left {
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.mkdf-page-footer .mkdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #1c1c1c;
  border-top: 0 solid #e1e1e1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-center {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left {
  text-align: left;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-right {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 92px 0;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-full-width {
  padding: 92px 40px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #000000;
  border-top: 0 solid #e1e1e1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {
  padding: 38px 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width {
  padding: 38px 40px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-grid-col-6:nth-child(2) {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-grid-col-4:nth-child(2) {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-grid-col-4:nth-child(3) {
  text-align: right;
}

@media only screen and (max-width: 480px) {
  .mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-social-icons-group-widget .mkdf-social-icon-widget-holder:first-child {
    margin: 0 18px 0 0 !important;
  }
}

.mkdf-page-footer .widget.widget_text a.mkdf-footer-bootom-text {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6em;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
